---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro'

//  Good enough estimate I suppose.
let month = 6;
let codingStart = new Date(2019, month);
let timeSinceCodingStart = Date.now() - codingStart.getTime();
let dateSinceCodingStart = new Date(timeSinceCodingStart);
let yearsSinceCodingStart = Math.floor(
    (   
        (Math.abs(dateSinceCodingStart.getUTCFullYear() - 1970) +
        dateSinceCodingStart.getMonth() / 12) * 10
    )
) / 10;
---

<Layout title="David's Home Page" description="Hi, I'm David, and this is my website!" useNavbar={true}>
    <div class="text-center m-auto flex flex-col justify-center space-y-8">
        (🚧 Massive Site Overhaul in Progress!)

        <div class="text-[4rem]">👋🏼 Hi, I'm David.</div>

        <div class="text-[1.8rem]">I'm some guy who knows a lot yet very little.</div>
        <div class="text-[1.8rem]">
            For the past {yearsSinceCodingStart} years, I've doing stupid things with programming.
        </div>
        <div class="text-[1.8rem]">
            Although not entirely true, that's the focus purpose of this site.
        </div>

        <br>

        <div class="flex flex-col p-5 space-y-4 xl:flex-row xl:p-12 xl:space-x-10 m-auto justify-evenly bg-night-1">
            <div class = "flex flex-col justify-start space-y-4 my-4">
                <a class="index_box_button" href="/skills">
                    <div class="mx-auto text-center text-3xl">
                        My Skills
                    </div>
                </a>

                <a class="index_box_button" href="/blog">
                    <div class="mx-auto text-center text-3xl">
                        My Blog
                    </div>
                </a>
            </div>
            <Projects/>
        </div>
    </div>
    <style is:global>
    @tailwind components;

    @layer components {
        .index_box_button {
            @apply inline-flex bg-night-2 p-4 rounded-sm shadow-md max-w-2xl min-w-0 w-40 mx-auto hover:transform hover:scale-110 hover:drop-shadow-2xl;
        }
    }
    </style>
</Layout>
