---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome.">
	<main>
		<h1>👋 Hi! I'm David.</h1>
        <p>
        I'm a high schooler who also happens to be a hobbist programmer.<br>
        This page is under construction 🚧!<br> 
        Here's a cookie 🥠 and some Github projects instead.</p>
        <ul>
            <li><a href="https://github.com/davnotdev/mewo">Mewo</a> is a work in progress ecs game engine.</li>
            <li><a href="https://github.com/Alex-RV/DALY">Elgoog</a> is an upside down search engine created for Lancer Hacks.</li>
            <li>Set up <a href="https://github.com/davnotdev/rust_arduino_uno_template">Rust on the arduino</a>. It can be done, but should it?</li>
            <li>A step by step <a href="https://github.com/davnotdev/vulkan-rust-step-by-step">Vulkan Reference</a> for people who can't remember what a <code>VkPipelineRasterizationStateCreateInfo</code> is.</li>
            <li>This is my <a href="https://github.com/davnotdev/dotnvim">Neovim Config</a>. (Best code editor ever.)</li>
        </ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
	}
	p, li {
		padding: 2rem;
		font-size: 2rem;
		margin: 0;
	}
    a {
        color: #88abd8;
    }
    code {
        background: #1a171c;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .3rem .4rem .3rem;
        border-radius: .3rem;
    }
</style>
