---
import Navbar from '../components/Navbar.astro';
export interface Props {
	title: string;
    description: string;
    useNavbar: boolean;
}

const { title, description, useNavbar} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

        <!--Not sure how to fill these out...-->
        <meta name="description" content={description}>
        <meta name="keywords" content="davnotdev">
        <meta name="author" content="davnotdev">
	</head>
	<body class="bg-night-0 text-night-text">
    { useNavbar && <Navbar/> }
	<main class="px-[20%] py-10">
        <slot/>
	</main>
	</body>
</html>
