---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    @import url(https://fonts.bunny.net/css?family=abeezee:400);

    :root {
        color: #cbd6f2;
        font-family: 'ABeeZee', sans-serif;
    }
	html {
		background-color: #1f1e49;
	}
    a {
        color: #88abd8;
    }
    code {
        font-family: monospace;
        word-wrap: break-word;
        box-decoration-break: clone;
        border-radius: .3rem;
    }
    
    blockquote {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        padding-left: 15px;
        border-left: 3px solid #ccc;
    }
</style>
